#root {
  max-width: 1560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  margin: 0;
}

.suggestion-item {
  padding: 4px 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #e0e0e0;
}
